@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;900&display=swap');

* {
    /* background-color: #EDF1FA; */
    background-color: #fff;
    color: #0D0D0D;
    font-family: 'Noto Sans JP', sans-serif;
}